@import url("https://fonts.googleapis.com/css2?family=Merriweather");

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-button {
  position: fixed;
  top: calc(100vh - 93%);
  left: calc(100vw - 10.5%);
  border-radius: 50%;
  background: rgb(201, 194, 194);
  border-color: transparent;
  font-size: 30px;
  font-weight: 800;
  color: rgb(255, 0, 0);
}
.modal-button:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.modal-content {
  position: fixed;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  background: white;
  height: 80%;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  margin: 0 5% 5% 5%;
  padding-left: 10%;
}
.modal-header h2 {
  margin-bottom: 0.4%;
}
.modal-header p {
  margin-top: 0.4% !important;
  margin-bottom: 0.4% !important;
}
.modal-header a {
  text-decoration: none;
}

.modal-body {
  margin: 0 5% 5% 5%;
  padding-left: 10%;
}

.modal-content h1 {
  padding-bottom: 15px;
  max-width: 75%;
}
.modal-content h2 {
  padding-bottom: 15px;
  max-width: 75%;
}
.modal-content h3 {
  padding-bottom: 15px;
  max-width: 75%;
}
.modal-content p {
  color: #333;
  font-family: "Muli", sans-serif;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.81;
  max-width: 75%;
}

.modal-content a {
  text-decoration: none !important;
}

.modal-content li {
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.81;
  max-width: 75%;
}

.modal-body img {
  max-width: 60%;
  width: 100%;
  max-height: 60%;
  height: 100%;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
